header{
    display: flex;
    margin: 0px;
    background-color: rgb(98, 169, 216);
    border: 1px solid white;
    text-decoration: roboto bold;
}

h2{
    margin: 10px;
    padding: 15px;
    font-family: roboto bold;
}

body{
    background-color:  rgb(98, 169, 216);
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}


main{

    background:  rgb(98, 169, 216);

}

main>div{
    margin: auto;
    padding: 20px;
}

div{
    display: flex;
    margin: auto;
    padding: 20px;
}