header{
    margin: 0px;
    color: white;
    text-align: center;
    background-color: rgb(25, 100,30);
}

body{
    background-color: black;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}


main{

    background: black;
    display: flex;

}

main>div{
    color: white;
    margin: auto;
    border: 2px solid;
    padding: 20px;
}

div{
    display: flex;
    margin: auto;
    border: 2px solid;
    padding: 20px;
}

.position{
    color: white;
    font-size: 42px;
    border-radius: 100% white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    text-align: center;

}



.zone{
    background: green;
    padding: 1px;
    margin:50px;
    border-radius: 20px;
    position: relative;
}